{% extends 'layout/base.html' %}
{% load static  %}

{% block titulo %}
    Educación
{% endblock titulo %}

{% block content %}

<h1 class="titulo1">Resumen</h1>
<h3 style="margin-bottom: 50px">Educación. Discapacidad en El Salvador</h3>

{% for b in resumen %}
    <p class="justificado" style="font-size: x-large; margin-bottom: 50px;">
         {{ b.resumen }}
    </p>
{% endfor %}

<div class="prueba">
    <div class="uno">
        <img src="{% static 'img/img1-resumen-E.jpg'%}" />
    </div>
</div>

<div class="prueba">
    <div class="dos">
        <img src="{% static 'img/img2-resumen-E.jpg'%}" />
    </div>
</div>

<h1>Análisis de los datos obtenidos</h1>
<h3>Educación. Discapacidad en El Salvador</h3>

{% for a in analisis %}
    <p class="justificado" style="font-size: x-large; margin-bottom: 50px;">
         {{ a.resumen }}
    </p>
{% endfor %}

<div class="prueba">
    <div class="tres">
        <img src="{% static 'img/img3-resumen-E.jpg'%}" />
    </div>
</div>

<h1>Análisis Estadístico</h1>
<h3>Educación. Discapacidad en El Salvador</h3>
<p class="justificado" style="font-size: x-large; margin-top: 50px">
    Se presenta a continuación datos estadísticos relevantes relacionados 
    al acceso a la educación para las personas con discapacidad. Todos los 
    datos de esta sección fueron tomados de la investigación titulada “Caracterización de 
    atención educativa de estudiantes con discapacidad en las instituciones de Educación 
    Superior -IEN de El Salvador” año 2022, dicho documento fue elaborado por el Ministerio 
    de Educación Ciencia y Tecnología.
</p>
 <div style="margin-top: 50px;" >
     <h3>Población de estudiantes con discapacidad activos en IES 2018 a 2020</h3><br>
        
    {% if request.user.is_superuser %}
        <a href="{% url 'ACcrear' %}">
            <button style="margin-bottom: 50px;" type="button" class="btn btn-primary">Crear nuevo archivo</button>
        </a>
    {% endif %}
            
    <table class="table table-striped" style="font-size: x-large;">
        <thead class="table-dark">
            <tr>
                <th>Año</th>
                <th>Física</th>
                <th>Intelectual</th>
                <th>Sensorial</th>
                <th>Mental</th>
                <th>Total</th>

                {% if request.user.is_superuser %}
                    <th>Modificar</th>
                    <th>Eliminar</th>
                {% endif %}  
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for e in tActivos %}
                <tr>
                    <td> {{ e.año }}</td>
                    <td> {{ e.fisica }}</td>
                    <td> {{ e.intelectual }}</td>
                    <td> {{ e.sensorial }}</td>
                    <td> {{ e.mental }}</td>
                    <td> {{ e.total }}</td>

                    {% if request.user.is_superuser %}
                        <td>
                            <a href="{% url 'ACmodificar' e.id %}">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'ACeliminar' e.id %}">
                                <i class="fa-regular fa-trash"></i></td>
                            </a>
                    {% endif %} 
                </tr>
            {% endfor %}      
            </tbody>
    </table>
    <p class="graf-desc">
        1. Población de estudiantes con discapacidad activos
        en IES 2018 a 2020
    </p>
</div>
         
<h3 style ="margin-top:50px">Distribución de estudiantes con discapacidad por género y tipo 2018-2020</h3><br>

<h3>Año 2018</h3><br>

{% if request.user.is_superuser %}
    <a href="{% url '18crear' %}">
        <button style="margin-bottom: 50px;" type="button" class="btn btn-primary">Crear nuevo archivo</button>
    </a>
{% endif %}

<table class="table table-striped" style="font-size: x-large;">
    <thead class="table-dark">
        <tr>
            <th>Discapacidad</th>
            <th>Masculino</th>
            <th>Femenino</th>

            {% if request.user.is_superuser %}
                <th>Modificar</th>
                <th>Eliminar</th>
                {% endif %}  
        </tr>
    </thead>
    <tbody class="table-group-divider">
         {% for i in t2018 %}
            <tr>
                <td> {{ i.discapacidad }}</td>
                <td> {{ i.masculino }}</td>
                <td> {{ i.femenino }}</td>

                {% if request.user.is_superuser %}
                    <td>
                        <a href="{% url '18modificar' i.id %}">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url '18eliminar' i.id %}">
                            <i class="fa-regular fa-trash"></i></td>
                        </a>
                {% endif %} 
            </tr>
        {% endfor %}
                    
    </tbody>
</table>
<p class="graf-desc">
    2. Distribución de estudiantes con discapacidad por género y tipo
    de discapacidad 2018
</p>
<h3>Año 2019</h3><br>

{% if request.user.is_superuser %}
    <a href="{% url '19crear' %}">
        <button style="margin-bottom: 50px;" type="button" class="btn btn-primary">Crear nuevo archivo</button>
    </a>
{% endif %}

<table class="table table-striped" style="font-size: x-large;">
    <thead class="table-dark">
        <tr>
            <th>Discapacidad</th>
            <th>Masculino</th>
            <th>Femenino</th>

            {% if request.user.is_superuser %}
                <th>Modificar</th>
                <th>Eliminar</th>
            {% endif %}  
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for j in t2019 %}
            <tr>
                <td> {{ j.discapacidad }}</td>
                <td> {{ j.masculino }}</td>
                <td> {{ j.femenino }}</td>

                {% if request.user.is_superuser %}
                    <td>
                        <a href="{% url '19modificar' j.id %}">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url '19eliminar' j.id %}">
                            <i class="fa-regular fa-trash"></i></td>
                        </a>
                {% endif %} 
            </tr>
        {% endfor %}
                    
    </tbody>
</table>
<p class="graf-desc">
    3. Distribución de estudiantes con discapacidad por género y tipo
    de discapacidad 2019
</p>

<h3>Año 2020</h3><br>

{% if request.user.is_superuser %}
    <a href="{% url '20crear' %}">
        <button style="margin-bottom: 50px;" type="button" class="btn btn-primary">Crear nuevo archivo</button>
    </a>
{% endif %}

<table class="table table-striped" style="font-size: x-large;">
    <thead class="table-dark">
        <tr>
            <th>Discapacidad</th>
            <th>Masculino</th>
            <th>Femenino</th>

            {% if request.user.is_superuser %}
                <th>Modificar</th>
                <th>Eliminar</th>
            {% endif %}  
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for k in t2020 %}
            <tr>
                <td> {{ k.discapacidad }}</td>
                <td> {{ k.masculino }}</td>
                <td> {{ k.femenino }}</td>

                {% if request.user.is_superuser %}
                    <td>
                        <a href="{% url '20modificar' k.id %}">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url '20eliminar' k.id %}">
                            <i class="fa-regular fa-trash"></i>
                        </a>
                    </td>
                        
                {% endif %} 
            </tr>
        {% endfor %}
                    
    </tbody>
</table>
<p class="graf-desc">
    4. Distribución de estudiantes con discapacidad por género y tipo
    de discapacidad 2020
</p>
    
<div style="margin-top: 50px;">
    <h3>Prevalencia del tipo de discapacidad en estudiantes activos IES 2018-2020</h3><br>

    {% if request.user.is_superuser %}
        <a href="{% url 'PRcrear' %}">
            <button style="margin-bottom: 50px;" type="button" class="btn btn-primary">Crear nuevo archivo</button>
        </a>
    {% endif %}

    <table class="table table-striped" style="font-size: x-large;">
        <thead class="table-dark">
            <tr>
                <th>Discapacidad</th>
                <th>2018</th>
                <th>2019</th>
                <th>2020</th>
                <th>Total</th>
                <th>Porcenaje</th>

                {% if request.user.is_superuser %}
                    <th>Modificar</th>
                    <th>Eliminar</th>
                {% endif %}  
            </tr>
        </thead>
        <tbody class="table-group-divider">
                
            {% for x in tPrevalencia %}
                <tr>
                    <td> {{ x.discapacidad }}</td>
                    <td> {{ x.año_2018 }}</td>
                    <td> {{ x.año_2019 }}</td>
                    <td> {{ x.año_2020 }}</td>
                    <td> {{ x.total }}</td>
                    <td> {{ x.porcentaje }}</td>

                    {% if request.user.is_superuser %}
                        <td>
                            <a href="{% url 'PRmodificar' x.id %}">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'PReliminar' x.id %}">
                                <i class="fa-regular fa-trash"></i>
                            </a>
                        </td>
                        
                    {% endif %}
                </tr>
            {% endfor %}
                    
        </tbody>
    </table>
    <p class="graf-desc">
        5. Prevalencia del tipo de discapacidad en estudiantes activos IES 2018-2020
    </p>
</div>
        
<h1 style="padding-top: 100px;">Análisis Gráfico</h1>
<h3>Educación. Discapacidad en El Salvador</h3>
    
<div class="grafico">
    <img src="{% static 'img/graficoE5.png'%}">
    <p class="graf-desc">Poblacion total y poblacion discapacitado de estudiantes activos en universidades</p>
</div>

<div class="grafico">
    <img src="{% static 'img/graficoE4.png'%}" />
    <p class="graf-desc">
      Distribución por género y tipo de discapacidad
    </p>
</div>

<div class="grafico">
    <img src="{% static 'img/graficoE3.png'%}">
    <p class="graf-desc">Prevalencia por tipo de discapacidad</p>
</div>

<div class="grafico">
    <img src="{% static 'img/graficoE1.png'%}" />
    <p class="graf-desc">
      Distribución por departamento
    </p>
</div>

<div class="grafico">
    <img src="{% static 'img/graficoE2.png'%}">
    <p class="graf-desc">Distribucion por tipo de discapacidad en universidades</p>
</div>

<div class="grafico">
    <img src="{% static 'img/graficoE6.png'%}" />
    <p class="graf-desc">
      Carreras cursadas por estudiantes con discapacidad, año 2020 solamente
    </p>
</div>     

{% endblock content %}