.sidebar {
  width: 200px;
  background-color: #f1f1f1;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-top: 10px;
}

a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.content {
  margin-left: 200px; /* ajusta el margen para evitar solapamiento */
  padding: 16px;
}