{% extends 'layout/base.html' %} 
{% load static  %}

{% block titulo %} 
  Trabajo 
{% endblock titulo %} 


{% block content %}
<div>
  <h1>Análisis Estadístico</h1>
  <br />
  <p style="font-size: x-large">
    En 2015 se llevó a cabo en El Salvador la Encuesta Nacional de Personas con
    Discapacidad (ENPD), la que permitió recolectar información sobre personas
    con y sin discapacidad en una muestra de 5,102 hogares y 19,504 personas a
    nivel nacional. Se recolectó información sobre las características
    sociodemográficas de los encuestados, educación, vivienda, trabajo y
    condiciones laborales; así como preguntas específicas relacionadas con la
    discapacidad, como las deficiencias funcionales permanentes, el uso de
    apoyos y ayudas técnicas, el uso de servicios de habilitación y
    rehabilitación, y la accesibilidad en diferentes espacios.
  </p>
  <div style="padding-top: 60px">
    <h3>Encuesta zona Urbana</h3>
    <br />

    {% if request.user.is_superuser %}

    <button style="margin-bottom: 50px" type="button" class="btn btn-primary">
      Crear nuevo archivo
    </button>

    {% endif %}

    <table class="table table-striped" style="font-size: x-large">
      <thead class="table-dark">
        <tr>
          <th>Grupos de Edad</th>
          <th>Total</th>
          <th>Hombre</th>
          <th>Mujer</th>

          {% if request.user.is_superuser %}
          <th>Modificar</th>
          <th>Eliminar</th>
          {% endif %}
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for e in tUrbano %}
        <tr>
          <td>{{ e.grupoEdad }}</td>
          <td>{{ e.total }}</td>
          <td>{{ e.hombre }}</td>
          <td>{{ e.mujer }}</td>

          {% if request.user.is_superuser %}
          <td><i class="fa-regular fa-pen-to-square"></i></td>
          <td><i class="fa-regular fa-trash"></i></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div style="padding-top: 60px">
    <h3>Encuesta zona Rural</h3>
    <br />

    {% if request.user.is_superuser %}
    <button style="margin-bottom: 50px" type="button" class="btn btn-primary">
      Crear nuevo archivo
    </button>
    {% endif %}

    <table class="table table-striped" style="font-size: x-large">
      <thead class="table-dark">
        <tr>
          <th>Grupos de Edad</th>
          <th>Total</th>
          <th>Hombre</th>
          <th>Mujer</th>

          {% if request.user.is_superuser %}
          <th>Modificar</th>
          <th>Eliminar</th>
          {% endif %}
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for i in tRural %}
        <tr>
          <td>{{ i.grupoEdad }}</td>
          <td>{{ i.total }}</td>
          <td>{{ i.hombre }}</td>
          <td>{{ i.mujer }}</td>

          {% if request.user.is_superuser %}
          <td><i class="fa-regular fa-pen-to-square"></i></td>
          <td><i class="fa-regular fa-trash"></i></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div style="padding-top: 60px">
    <h3>Tipo de Discapacidad</h3>
    <br />

    {% if request.user.is_superuser %}
    <button style="margin-bottom: 50px" type="button" class="btn btn-primary">
      Crear nuevo archivo
    </button>
    {% endif %}

    <table class="table table-striped" style="font-size: x-large">
      <thead class="table-dark">
        <tr>
          <th>Tipo Discapacidad</th>
          <th>Número Ocupadas</th>
          <th>Porcentaje Ocupadas</th>
          <th>Número Descocupadas</th>
          <th>Porcentaje Descocupadas</th>
          <th>Número Inactivas</th>
          <th>Número Inactivas</th>

          {% if request.user.is_superuser %}
          <th>Modificar</th>
          <th>Eliminar</th>
          {% endif %}
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for j in tdiscapacidad %}
        <tr>
          <td>{{ j.discapacidad }}</td>
          <td>{{ j.numero_Ocupadas }}</td>
          <td>{{ j.porcentaje_Ocupadas }}</td>
          <td>{{ j.numero_Desocupadas }}</td>
          <td>{{ j.porcentaje_Desocupadas }}</td>
          <td>{{ j.numero_Inactivas }}</td>
          <td>{{ j.porcentaje_Inactivas }}</td>

          {% if request.user.is_superuser %}
          <td><i class="fa-regular fa-pen-to-square"></i></td>
          <td><i class="fa-regular fa-trash"></i></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p style="font-size: x-large">
      Esta tabla resume bien lo que es de interés para el desarrollo de la
      investigación. Y un aspecto importante es que vemos que pese a ser el tipo
      de discapacidad que más prevalece, es el grupo con mayor número de
      personas trabajando.
    </p>
  </div>

  <div style="padding-top: 60px">
    <h3>Categorías</h3>
    <br />

    {% if request.user.is_superuser %}
    <button style="margin-bottom: 50px" type="button" class="btn btn-primary">
      Crear nuevo archivo
    </button>
    {% endif %}

    <table class="table table-striped" style="font-size: x-large">
      <thead class="table-dark">
        <tr>
          <th>Categoría</th>
          <th>Hombre</th>
          <th>Mujer</th>
          <th>Total</th>

          {% if request.user.is_superuser %}
          <th>Modificar</th>
          <th>Eliminar</th>
          {% endif %}
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for x in tcategoria %}
        <tr>
          <td>{{ x.categoria }}</td>
          <td>{{ x.hombre }}</td>
          <td>{{ x.mujer }}</td>
          <td>{{ x.total }}</td>

          {% if request.user.is_superuser %}
          <td><i class="fa-regular fa-pen-to-square"></i></td>
          <td><i class="fa-regular fa-trash"></i></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div style="padding-top: 60px">
    <h3>Niveles</h3>
    <br />

    {% if request.user.is_superuser %}
    <a href="{% url 'modificar' %}">
      <button style="margin-bottom: 50px" type="button" class="btn btn-primary">
        Crear nuevo archivo
      </button>
      {% endif %}
    </a>

    <table class="table table-striped" style="font-size: x-large">
      <thead class="table-dark">
        <tr>
          <th>Niveles</th>
          <th>Total</th>
          <th>Hombre</th>
          <th>Mujer</th>

          {% if request.user.is_superuser %}
          <th>Modificar</th>
          <th>Eliminar</th>
          {% endif %}
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for z in tnivel %}
        <tr>
          <td>{{ z.nivel }}</td>
          <td>{{ z.total }}</td>
          <td>{{ z.hombre }}</td>
          <td>{{ z.mujer }}</td>

          {% if request.user.is_superuser %}
          <td><i class="fa-regular fa-pen-to-square"></i></td>
          <td><i class="fa-regular fa-trash"></i></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h1 style="padding-top: 100px">Análisis Gráfico</h1>
 <div class="grafico">
    <img src="{% static 'img/grafico1.png'%}">
    <p class="graf-desc">Población con discapacidad por edades y género</p>
  </div>

  <div class="grafico graf2">
    <img src="{% static 'img/grafico2.png'%}" />
    <p class="graf-desc">
      Prevalencia de discapacidad, por tipo, en la población de 18 años y más.
    </p>
  </div>
</div>
 {% endblock content %}