{% load static %}
<div id="sidebar">
  <!-- <div class="toggle-btn">
    <span>&#9776;</span>
  </div> -->
  <ul>
    <li>
      <img
        src="{% static 'img/EISI.jpg'%}"
        class="logo"
        style="width: 150px; height: 150px"
      />
    </li>
    <li class="nav-item active">
      <a href="{% url 'inicio' %}" class="link-secondary">Inicio</a>
        
    </li>
    <li class="nav-item active">
      <a href="{% url 'trabajo' %}" class="link-secondary">Trabajo y Empleo</a>
        
    </li>
    <li class="nav-item active">
      <a href="{% url 'educacion' %}" class="link-secondary">Educación</a>
         
      <li class="nav-item active">
        <a href="{% url 'referencia' %}" class="link-secondary">Referencias</a>
        
      </li>
  </ul>
</div>
