{% extends 'layout/base.html' %}


{% block titulo %}
    Referencias
{% endblock titulo %}


{% block content %}
    
<h1 class="titulo1">Referencias</h1>
<p>¿Quieres profundizar aún más sobre el tema?</p>
<h4>Enlaces a sitios web</h4>
<ul>
    <li><a href="https://www.mined.gob.sv">Visita Ministerio de Educación</a></li>
    <li><a href="https://www.mtps.gob.sv">Visita Ministerio de Trabajo</a></li>
    <li><a href="https://conaipd.gob.sv">Visita CONAIPD</a></li>
    <li><a href="https://isri.egob.sv/marco-institucional/">Visita ISRI</a></li>
    <li><a href="https://reddesobrevivientes.org/">Visita Fundación Red de Sobrevivientes</a></li>
    
</ul>
<h4>Enlaces a documentos</h4>
<ul>
    <li><a href="https://www.unicef.org/elsalvador/media/1346/file/Encuesta%202015,%20per
        sonas%20con%20discapacidad_2.pdf">Encuesta Nacional UNICEF 2015</a></li>
    <li><a href="https://www.mined.gob.sv/educacion-superior/?wpdmc=informacion-estadistica-de-educacion-superior">
        Estadisticas de Educación MINED</a></li>
    <li><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwjIkpGilcP-AhXzSjABHV3DBSAQFnoECAsQAQ&url=https%3A%2F%2Fwww.transparencia.gob.sv%2Finstitutions%2Fconaipd%2Fdocuments%2F321691%2Fdownload&usg=AOvVaw3VRNKg7n5mLxGNUgJb5CtH">Encuesta CONAIPD 2015</a></li>

    
</ul>
<div class="ubicaciones-contenedor">
    <h4>Ubicaciones</h4>
    <p>¿Interesado en visitar centros especializados?</p>
    <div class="ubicaciones">
        <iframe
            class="conaipd"
            width="400"
            height="350"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.7305762401074!2d-89.24646390977263!3d13.674139925939485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f632e261da22453%3A0x17aa0f571d06ce00!2sConsejo%20Nacional%20para%20la%20Inclusi%C3%B3n%20de%20las%20Personas%20con%20Discapacidad!5e0!3m2!1ses!2ssv!4v1685817980683!5m2!1ses!2ssv"
            &amp;output=embed">
        </iframe>

        <iframe
            class="isri"
            width="400"
            height="350"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.6202100193823!2d-89.20099252591942!3d13.680842698934423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f63311d14524233%3A0x7708ebdf5c2e9bc0!2sInstituto%20Salvadore%C3%B1o%20de%20Rehabilitaci%C3%B3n%20Integral!5e0!3m2!1ses!2ssv!4v1685818201208!5m2!1ses!2ssv"
            &amp;output=embed">
        </iframe>
    </div>
    
</div>


{% endblock content %}
    