{% extends 'layout/base.html' %}
{% load static  %}

{% block titulo %}
    Inicio
{% endblock titulo %}


{% block content %}
    <h1 class="titulo1" style="text-align: center">Discapacidad en El Salvador</h1>
    <p class="justificado" style="font-size: x-large;">La discapacidad es una condición que afecta a una gran cantidad de personas en todo el mundo, 
        y en El Salvador no es la excepción. A pesar de que existen leyes que protegen a las personas con discapacidad en el país, 
        muchas veces se enfrentan a la discriminación y a la exclusión laboral. Se realizó una investigación que buscó identificar qué
         empresas en El Salvador contratan a personas con discapacidad y cuáles son las poblaciones de discapacitados que tienen más 
         oportunidades laborales en el país.
        </p><br>

        <div style="display: flex; align-items: center;" >
            <div style="margin-right: 100px;">
                <h3>Referente al Trabajo y Empleo</h3>
                <p class="justificado" style="font-size: x-large;">La inclusión laboral de personas con discapacidad es 
                    un tema importante en la sociedad actual, y las empresas juegan un papel fundamental en este proceso. 
                    En países como El Salvador, existen leyes y regulaciones que promueven la contratación de personas con 
                    discapacidad con el objetivo de garantizar su derecho al trabajo y promover la equidad de oportunidades.</p>
                    <a href="{% url 'trabajo' %}">
                        <button type="button" class="btn btn-primary" style="margin-top: 10px;">Trabajo y Empleo</button> 
                    </a>
                    
                                    
            </div>
            <img src="{% static 'img/index1.png'%}" style ="width: 400px; height: 300px;">   
        </div>
        
        <div style="display: flex; align-items: center; padding-top: 100px ;" >
            <div style="margin-right: 100px;">
                <h3>Referente a la Educación</h3>
                <p class="justificado" style="font-size: x-large;">La inclusión educativa de las personas con discapacidad es un tema de 
                    vital importancia en El Salvador y en todo el mundo. En el ámbito universitario, se busca garantizar que todos los estudiantes, 
                    independientemente de sus capacidades, tengan igualdad de oportunidades para acceder, participar y completar sus estudios superiores.</p>
                    <a href="{% url 'educacion' %}">
                        <button type="button" class="btn btn-primary" style="margin-top: 10px;">Educación</button> 
                    </a>               
            </div>
            <img src="{% static 'img/index2.png'%}" style ="width: 400px; height: 300px;">   
        </div>

        
{% endblock content %}
    
    